@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-family{
    font-family: 'Roboto', sans-serif;
}

.display-flex{
    display: flex;
    justify-content: space-around;
}

.hero-footer-color{
    background-color: #1f2937;
}

.hero-sec-links-color{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-link-text{
    gap: 10px;
    font-weight: lighter;
}

.main-container{
    border: 5px solid black;
}

.footer-container{
    border: 5px solid black
}